DATABASE_URL=
JWT_SECRET=
JWT_EXPIRES_IN=
PORT=
NODE_ENV=
API_URL=
APP_URL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_SECURE=
EMAIL_ALLOW_SELF_SIGNED=
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=
GROQ_API_KEY=